<h3>
  <a [title]="item.name + ' details'"
  [routerLink]="['/products', item.id]">
    {{ item.name }}
  </a>
</h3>

<div class="product-img">
  <div >
    <a href="{{item.src}}">
      <img src="{{item.image[0]}}" class="mainImg">
    </a>
  </div>

  <div  class="small-cont">
    <img src="{{pImg}}" class="small-img" *ngFor="let pImg of item.image" >
  </div>
</div>

<p *ngIf="item.description">
  Description: {{ item.description }}
</p>


<a href="https://telegram.me/share/url?url={{item.src}}&text=Check this product" >
  <button type="button" >
    Share
  </button>
</a>

  <!-- <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts> -->

