<h2>Products</h2>

<div *ngFor="let product of products" class="product">

    <h3>
      <a title="product.name + ' details'" href="{{product.src}}">
        {{ product.name }}
      </a>
    </h3>

    <!-- <div >
      <a [title]="product.name + ' details'" href="{{product.src}}">
        <img src="{{product.image[0]}}" class="mainImg">
      </a>
    </div> -->

    <div class="product-img">
        <div >
          <a [title]="product.name + ' details'" href="{{product.src}}">
            <img src="{{product.image[0]}}" class="mainImg">
          </a>
        </div>

        <div  class="small-cont">
          <img src="{{pImg}}" class="small-img" *ngFor="let pImg of product.image" (onclick)="repl()">
        </div>
    </div>


    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
    <p >
      Rating: {{ product.rating }}
    </p>

    <a href="https://telegram.me/share/url?url={{product.src}}&text=Check this product">
      <button type="button"  >
        Share
      </button>
    </a>

    <!-- <script>
      function repl(event) {
        var 
      }
    </script> -->

</div>
