lab3/ToDoApp/index.html
lab3/ToDoApp/main.js
lab3/ToDoApp/styles.css
lab3/ToDoApp/index.html
lab3/ToDoApp/index.html
env/
myenv/
node_modules/
lab4/
/Users/dilaramuhambetova/web_web/web_dev/lab4/kaspi/src/app/products/products.component.html
lab5/