
#header {
  height: 40px;
  background-color: rgb(40, 40, 40);
  text-align: center;
}
#header p {
  margin: 0;
  align-self: center;
  padding-top: 10px;
  padding-right: 60%;
  color: rgb(190, 190, 190);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
#addBut {
  background-color: #3372c3;
  color: rgb(220, 220, 220);
  width: 50px;
  font-size: 70%;
  /* display: flex; */
  height: 35px;
  margin-left: 20px;
  
}
#addBut:focus{
  outline: 1px dotted;
  outline:5px auto -webkit-focus-ring-color
}
#inputText{
  /* display: flex; */
  width: 50%;
  font-size: 80%;
  height: 35px;
  padding: 0;
  text-align: left;
  padding-left: 10px;
}
.inpt {
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-bottom: 40px;
}
#cont_head {
  margin-left: 20%;
  font-size: 29px;
  color: rgb(80, 80, 80);
  padding-top: 50px;
  padding-bottom: 40px;
}
.box{
  /* margin: 0;
  padding: 0; */
  border-radius: 6px;
  border: 1px solid rgb(210, 210, 210);
}
.trash{
  float: right;
  margin-left: 55%;
}
.checkbox{
  margin-left: 2%;
  width: 15px;
  height: 15px;
  margin-right: 0;
}
.added-text{
  margin-left: 4%;
}
.one-item {
  align-items: center;
  border: 1px solid rgb(210, 210, 210);
  /* width: ; */
  height: 50px;
  box-sizing: border-box;
  /* display: flex; */
}

#items-cont{
  margin-left: 20%;
  margin-right: 20%;

  /* box-sizing:flex; */
  
}
.added-text, .checkbox, .trash{
  /* align-items: center; */
  box-sizing: border-box;
  position: absolute;
  margin-top: 1%;
}
.trash {
  box-sizing: border-box;
  position: absolute;
  
}
.trash img {
  pointer-events: none;
}
ol li{
  display: block;
  
}
ol{
  padding: 0;
}

